@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <title>生成格式报告</title>
    <link href="/lib/layui/css/layui.css" rel="stylesheet">
</head>
<body style="padding-top: 60px;">
    <div class="layui-nav" lay-bar="disabled" style="position: fixed; top: 0; width: 100%; z-index: 999;">
        <li class="layui-nav-item layui-this layui-font-26">生成格式报告</li>
        <li class="layui-nav-item" style="float: right;">
            <button id="execute" type="button" class="layui-btn layui-btn-normal layui-btn-radius" style="min-width: 120px;">执行</button>
        </li>
    </div>
    <form class="layui-form" onsubmit="return false;">
        <table class="layui-table" lay-skin="nob" lay-size="sm">
            <thead>
                <tr>
                    <th>样式</th>
                    <th>字体</th>
                    <th>字号</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align: top;">
                        <ul id="styles" class="layui-font-16"></ul>
                    </td>
                    <td style="vertical-align: top;">
                        <ul id="fonts" class="layui-font-16"></ul>
                    </td>
                    <td style="vertical-align: top;">
                        <ul id="fontSizes" class="layui-font-16"></ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <script src="/lib/layui/layui.js"></script>
    <script>
        layui.use(function () {
            var $ = layui.$;
            var layer = layui.layer;

            $('#execute').on('click', function() {
                $('#styles').html('');
                $('#fonts').html('');
                $('#fontSizes').html('');

                var layerIdx = layer.load(0, { shade: true });
                setTimeout(function () {
                    var json = JSON.parse(window.external.Execute());
                    $.each(json.styles.sort(), function (i, item) {
                        $('#styles').append('<li>' + item + '</li>');
                    });
                    $.each(json.fonts.sort(), function (i, item) {
                        $('#fonts').append('<li>' + item + '</li>');
                    });
                    $.each(json.fontSizes.sort(), function (i, item) {
                        $('#fontSizes').append('<li>' + item + '</li>');
                    });
                    layer.closeAll();
                }, 500);
            });
        });
    </script>
</body>
</html>
