@{
    Layout = null;
    int rows = 10;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <title>批量替换错别字</title>
    <link href="/lib/layui/css/layui.css" rel="stylesheet">
</head>
<body style="padding-top: 60px;">
    <div class="layui-nav" lay-bar="disabled" style="position: fixed; top: 0; width: 100%; z-index: 999;">
        <li class="layui-nav-item layui-this layui-font-26">批量替换错别字</li>
        <li class="layui-nav-item" style="float: right;">
            <button id="execute" type="button" class="layui-btn layui-btn-normal layui-btn-radius" style="width: 120px;">执行</button>
        </li>
    </div>
    <form class="layui-form" onsubmit="return false;">
        <table class="layui-table" lay-skin="nob" lay-size="sm">
            <thead>
                <tr>
                    <th>查找内容 <span class="layui-font-red">*</span></th>
                    <th>替换为</th>
                    <th>批注</th>
                    <th></th>
                </tr> 
            </thead>
            <tbody>
                @for (int i = 0; i < rows; i++)
                {
                <tr>
                    <td><input type="text" id="input_1_@i" name="input_1_@i" class="layui-input"></td>
                    <td><input type="text" id="input_2_@i" name="input_2_@i" class="layui-input"></td>
                    <td><input type="text" id="input_3_@i" name="input_3_@i" class="layui-input"></td>
                    <td>
                        <i id="input_4_@i" class="input_4 layui-hide-v layui-icon layui-icon-rate"></i>
                        <span id="input_5_@i" class="input_5 layui-font-red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align: center;">
                        <button id="save" type="button" class="layui-btn layui-btn-radius" style="width: 120px;">保存</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    <script src="/lib/layui/layui.js"></script>
    <script>
        layui.use(function () {
            var $ = layui.$;
            var layer = layui.layer;

            $('#save').on('click', function () {
                var layerIdx = layer.load(0, { shade: true });
                var json = JSON.stringify(Table2Json());
                var result = window.external.SetData(json);
                layer.msg(result);
                layer.close(layerIdx);
            });

            $('#execute').on('click', function () {
                var jsonArray = Table2Json();
                if (jsonArray.length > 0) {
                    $('.input_4').removeClass('layui-hide-v').removeClass('layui-show-v').addClass('layui-show-v').removeClass('layui-icon-rate').removeClass('layui-icon-rate-half').removeClass('layui-icon-rate-solid').addClass('layui-icon-rate');
                    $('.input_5').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
                    var layerIdx = layer.load(0, { shade: true });
                    StepExecute(jsonArray, 0);
                }
            });

            Json2Table();
        });

        function StepExecute(jsonArray, idx) {
            var $ = layui.$;
            var layer = layui.layer;

            var inputIdx = InputIndex()[idx];
            $('#input_4_' + inputIdx).removeClass('layui-icon-rate').addClass('layui-icon-rate-half');
            setTimeout(function(){
                var result = window.external.Execute(JSON.stringify(jsonArray[idx]));
                $('#input_4_' + inputIdx).removeClass('layui-icon-rate-half').addClass('layui-icon-rate-solid');
                $('#input_5_' + inputIdx).html(result);

                idx++;
                if (idx < jsonArray.length) {
                    StepExecute(jsonArray, idx);
                }
                else {
                    layer.closeAll();
                    layer.msg('执行成功');
                }
            }, 500);
        }

        function InputIndex() {
            var $ = layui.$;

            var result = [];
            for (var i = 0; i < @(rows); i++) {
                if ($('#input_1_' + i).val() == '') {
                    continue;
                }

                result.push(i);
            }
            return result;
        }

        function Table2Json() {
            var $ = layui.$;

            var jsonResult = [];
            for (var i = 0; i < @(rows); i++) {
                if ($('#input_1_' + i).val() == '') {
                    continue;
                }

                var rowData = {
                    "input_1": $('#input_1_' + i).val(),
                    "input_2": $('#input_2_' + i).val(),
                    "input_3": $('#input_3_' + i).val(),
                };
                jsonResult.push(rowData);
            }
            return jsonResult;
        }

        function Json2Table() {
            var $ = layui.$;
            var layer = layui.layer;

            var layerIdx = layer.load(0, { shade: true });
            var json = window.external.GetData();
            if (json != '') {
                $.each(JSON.parse(json), function(idx, obj) {
                    $('#input_1_' + idx).val(obj.input_1);
                    $('#input_2_' + idx).val(obj.input_2);
                    $('#input_3_' + idx).val(obj.input_3);
                });
                layer.msg('加载成功');
            }
            layer.close(layerIdx);
        }
    </script>
</body>
</html>
